include includes/header.pug
body.bg-dark
    include includes/navbar.pug
    .jumbotron.bg-dark.text-center
        h1.display-3 Mindful
        p.lead The next-generation Music Bot.
        hr.my-4
        a.btn.btn-primary.btn-lg(href='#', role='button') Invite
        a(href='#') 
        a.btn.btn-primary.btn-lg(href='#', role='button') Commands
