nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand(href='/') Mindful
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='/')
        i.fas.fa-home.pl-2
        span.pl-2 Home
    .navbar-nav
      a.nav-link(href='/commands')
        i.fas.fa-code.pl-2
        span.pl-2 Commands
    .navbar-nav.ml-auto.mr-2
      a.nav-link(href='/invite')
        i.fas.fa-user.pl-2
        span.pl-2 Invite
    .navbar-nav
      if user
        .dropdown.mr-2
          .dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.user-avatar.round(src=user.avatarUrl(32))
            span.pl-2 #{user.username}
          .dropdown-menu.bg-dark(aria-labelledby='dropdownMenuButton').text-center
              a.dropdown-item(href='/dashboard') #[i.fas.fa-tachometer-alt] Dashboard
              hr
              a.dropdown-item(href='/logout') #[i.fas.fa-sign-out-alt] Logout
      else
        a.nav-link(href='/login')
          i.fas.fa-sign-in-alt.pl-2
          span.pl-2 Login