nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand(href='#') Mindful
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='#') Commands
    .navbar-nav.ml-auto
      a.nav-link(href='#') Login