:root {
    --info: #17a2b8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    color: white;
}

hr {
    border-top: 1px solid white;
}

nav.navbar {
    background: rgb(50, 50, 50);
}

.mt-25vh {
    margin-top: 25vh;
}

.bg-commands {
    background: rgb(50, 50, 50);
}

.bg-dash-menu {
    background: rgb(55, 55, 55);
}

#search {
    max-width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #17a2b8;
    background: none;
    color: white;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#container-commands {
    padding-top: 25vh;
}

.active {
    background: var(--info);
}

.categories li {
    cursor: pointer;
    transition: background 0.5s;
}

.bg-dark a {
    color: white;
}

.round {
    border-radius: 50% !important;
}

#sidebar {
    height: 100vh;
    padding: 10px;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.icon, .icon img {
    font-size: x-large;

    height: 52px;
    width: 52px;

    margin: 0.25rem 0;
}

.abbr {
    padding-top: 7.5px;
}

.icon:hover {
    border-radius: 15% !important;
}