:root,
:root[theme='DEFAULT'] {
    --primary: white;

    --heading: white;
    --font: #e7e7e7;

    --background-primary: linear-gradient(rgba(0, 65, 102, 0.775), rgba(82, 0, 177, 0.75));
    --background-secondary: #323232;
    --background-tertiary: #373737;
}

:root[theme='DISCORD'] {
    --primary: #5865F2;

    --heading: white;
    --font: #b8b8b8;

    --background-primary: #36393F;
    --background-secondary: #2F3136;
    --background-tertiary: #202225;
}

:root[theme='ANIME'] {
    --primary: #5865F2;

    --heading: white;
    --font: white;
    --muted: #9b9b9b;

    --background-primary: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('https://cdn.discordapp.com/attachments/863481955738845184/873999242568540200/G8tOaeY.png'), #36393F;
    --background-secondary: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), linear-gradient(rgba(110, 168, 255, 0.5),rgba(122, 124, 255, 0.5)), #424242;
    --background-tertiary: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), linear-gradient(rgba(226, 110, 255, 0.5),rgba(255, 122, 248, 0.5)), #424242;
}