doctype
html(lang="en")
    head
        include ../includes/header.pug
    body.bg-dark
        include ../includes/sidebar.pug

        #sidebarExtension.bg-dash-menu
            header.text-center.pt-4
                .large-icon.bg-secondary.round
                    img.round(src=user.avatarUrl(128), alt=user.username)
                h4.pt-2 #{user.username}#[span.text-muted #{'#' + user.discriminator.toString().padStart(4, '0')}]

        include ../includes/navbar.pug
        |
        .jumbotron.bg-transparent.text-center.mt-25vh
            h1.display-3 Dashboard
            hr
            p.lead Manage music and settings of Mindful for your server.