doctype
html(lang="en")
    head
        include ../includes/header.pug
    body.bg-dark
        include ../includes/sidebar.pug
        include ../includes/navbar.pug
        |
        .container.jumbotron.bg-transparent.text-center.mt-25vh
            h1.display-3 #{server.name}