section#playerModule.module.px-5  
    - const track = (player.q.length > 0) ? player.q.items[0] : null;
    .card.shadow.p-3.mt-5
        #playerAPIError.alert.alert-danger.d-none
        .card-header.bg-transparent.row.mb-0
            .col
                h5.text-center Now Playing

                .track-np.d-flex.mt-4
                #volume
                    i.fas.fa-volume-up.mr-3.mt-3
                    input.form-control-range.py-3(type='range', value=0)
            .col
                h5.text-center Controls

                .controls.row
                    .col-3
                    .col-6.buttons
                        button#toggleTrack.btn.btn-primary.m-1 #[i.fas(class=player.isPaused ? 'fa-play' : 'fa-pause')]
                        button#stopTrack.btn.btn-primary.m-1 #[i.fas.fa-square]
                        button#skipTrack.btn.btn-primary.m-1 #[i.fas.fa-forward]
                        button#shuffleList.btn.btn-primary.m-1 #[i.fas.fa-random]
                #seekTrack
                    input.form-control-range(type='range', value=(player.position / 1000 || 0))
                    .position
                        span.current 00:00
                        span.text-muted.px-1 /
                        span.duration.text-muted 00:00
        hr.mx-auto
        .card-body.mt-0
            h5 Queue
            .q-control
                div.mt-3
                    label Add to Queue
                        input#searchInput.bg-transparent.mt-1.form-control(placeholder='Search')
                    button#trackSearch.ml-2.mb-2.btn.btn-primary #[i.fas.fa-plus]
                .track-list.mt-2